body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #fafaf9;
    
}

p {
    font-family:  fantasy;
}

button {
    font-size: 30px;
}

.board{
    background-color: #57534e;
    padding: 50px;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    position: relative;
}

.tile {
    background-color: white; 
}

.tile>p{
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper{
    font-size: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center; 
}

.win{
    color: red;
}

.left{
    width:  350px;
    height: 600px;
    background-color: #fed7aa;
}

.congrats{
    display: none;
    width: 400px;
    height: 150px;
    background-color: rgba(118, 184, 184, 0.75);
    position: absolute;
    top: 44.8%;
    left: 48.5%;
    z-index: 2;
}

.message {
    display: flex;
    height: 58%;
    font-size: 28px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.left {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.upper {
    display: flex;
    flex-direction: column;
    background-color: #fed7aa;
    align-items: flex-start;
}

.lower {
    display: flex;
    justify-content: center;
    background-color: #fed7aa;
}

.upper> p{
    font-size: 45px;
}

.reset {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 80%;
}

.against {
    padding: 5px;
    height: 90%;
}

.m {
    width: 100%;
    font-size: 30px;
}

.game {
    display: flex;
    width: auto;
    border-radius: 10px;
    border: 15px solid #e7e5e4
}